h1 {
    text-align:center;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(to right, rgb(11, 11, 11) ,rgb(51, 51, 209));
    padding-top: 14px;
}

h2{
    font-size: 25px;
}

* {
    box-sizing: border-box;
  }
  
  
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 310px;
    background: #f1f1f1;
  }
  
  
  form.search button {
    float: left;
    width: 40px;
    padding: 10px;
    background:rgb(28, 28, 181);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.search button:hover {
    background: black;
  }
  
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  #history {
    background-color: rgb(196, 196, 196); 
    margin-top: 17px;
    color: black;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 350px;
     cursor: pointer;
    
  }

  #currentlyDay{
    
    
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 17px;
    border: 2px solid black ;
    padding: 50px;
    width: 1035px;
    
}

.sentence{
    
    font-size: 30px;
    margin-left: 17px;
    margin-bottom: 30px;
}

.followUpDays{
    
    background-color: rgb(28, 28, 181);
    
    color: white;
    width: 15px;
    margin-left: 17px;
    border: 2px solid black ;
    padding: 95px;
    
    text-align: center;
    
}

.forecast-container{
    display: flex;
}

 .column {
    float: left;
  }
  
  .left {
    width: 40%;
  }
  
  .right {
    width: 60%;
  }
